#breadcrumb ol {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: var(--text-base);
  color: rgb(var(--fg-muted));
}

#breadcrumb ol li:not(:last-child)::after {
  content: "/";
  margin: 0 0.5rem;
  color: rgb(var(--fg-muted));
}

#breadcrumb a {
  color: rgb(var(--fg-muted));
  text-decoration: none;
  transition: color 0.15s;
}

#breadcrumb a:hover {
  color: rgb(var(--fg));
}

#breadcrumb [aria-current="page"] {
  color: rgb(var(--fg-muted));
}
