<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
    version="6.0">

    <display-name>TapTable</display-name>

    <welcome-file-list>
        <welcome-file>jsp/homepage.jsp</welcome-file>
    </welcome-file-list>

    <!-- Datasource configuration within the JNDI -->
    <resource-ref>
        <description>Connection pool to the database</description>
        <res-ref-name>jdbc/taptable</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <context-param>
        <param-name>jwt.secret</param-name>
        <param-value>DLNneIW5nPdQof5uEyXBCUNs5E9DEz2oiFRP5SyIPHa</param-value>
    </context-param>

    <listener>
        <listener-class>com.swad.taptable.util.AppContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>RestDispatcherServlet</servlet-name>
        <servlet-class>com.swad.taptable.servlet.RestDispatcherServlet</servlet-class>
        <multipart-config>
            <max-file-size>5242880</max-file-size>
            <max-request-size>5505024</max-request-size>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>RestDispatcherServlet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.swad.taptable.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.swad.taptable.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>com.swad.taptable.servlet.DashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DishesPage</servlet-name>
        <jsp-file>/jsp/dishes.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>DishesPage</servlet-name>
        <url-pattern>/dishes</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateIngredientPage</servlet-name>
        <jsp-file>/jsp/dashboard/ingredients/create.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateIngredientPage</servlet-name>
        <url-pattern>/dashboard/ingredients/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ManageIngredientsPage</servlet-name>
        <jsp-file>/jsp/dashboard/ingredients/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageIngredientsPage</servlet-name>
        <url-pattern>/dashboard/ingredients</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditIngredientPage</servlet-name>
        <jsp-file>/jsp/dashboard/ingredients/edit.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditIngredientPage</servlet-name>
        <url-pattern>/dashboard/ingredients/edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>IngredientsServlet</servlet-name>
        <servlet-class>com.swad.taptable.servlet.IngredientsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IngredientsServlet</servlet-name>
        <url-pattern>/ingredients</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.swad.taptable.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UsersServlet</servlet-name>
        <servlet-class>com.swad.taptable.servlet.UsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/dashboard/users</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>com.swad.taptable.servlet.ProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/dashboard/profile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PasswordServlet</servlet-name>
        <servlet-class>com.swad.taptable.servlet.PasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PasswordServlet</servlet-name>
        <url-pattern>/dashboard/password</url-pattern>
    </servlet-mapping>
</web-app>
